
.form-cover {
  width: 100%;
  max-width: 350px;
  margin: 30px auto;
  padding: 20px;
  box-sizing: border-box;
}

.form-cover h1 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.form-cover input {
  background-color: transparent;
  border: 1px solid #999;
  padding: 10px 12px;
  margin: 0 0 10px;
  width: 100%;
  color: #fff;
  font-size: 1.2rem;
}

.form-cover input[type="submit"] {
  transition: all .2s linear;
  cursor: pointer;
  background-color: #000;
}

.form-cover input[type="submit"]:hover {
  background-color: #4f4f4f;
}

.link {
  margin: 10px 0;
  display: block;
  text-align: center;
}

.link:hover {
  text-decoration: underline;
}

.error {
  color: #ef1313;
  margin-bottom: 10px;
  font-size: .8rem;
}
